header{
    background-color: #778a35;
    color: whitesmoke;
    font-family: 'Josefin Sans', sans-serif;
}

.welcome{
    
    min-height: 50vh;
    background-image: url(../Images/welcome.webp);
    background-size: cover;
    background-repeat: no-repeat;
    color: wheat;
}

.intro{
    min-height: 40vh;
    background-color: #D1E2C4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button{
   background-color: #778a35;
   border: none;
}

.products{
    min-height: 100vh;
    background-image: url(../Images/products.webp);
    color: #EBEBE8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products_1, .products_2{
    max-width: 400px;
    min-height: 200px;
    background-color: #778a35;
    opacity: 0.8;
    margin: 10px;
}

.products a {
    text-decoration: none;
}

.plants{
    background-color: #D1E2C4;
}